<div id="inputs">
    <div class="ui fluid raised card">
        <div class="content">
            <div class="header">Simulation Scenario</div>
            <a class="ui top right attached label" href="https://wrench-project.org" target="_blank">
                <img src="{{site.baseurl}}/assets/wrench_logo.png" alt="wrench_logo"
                     style="width: 16px !important; height: 16px !important; float: left; margin: 0"/>
                <span style="margin-top: 2px; float: left">&nbsp;WRENCH Simulator</span>
            </a>
        </div>
        <div class="center aligned content">
            {% include {{ include.imgSvg }} %}
        </div>
    </div>
</div>
