<div id="inputs">
    <div class="input-card card " id="platform-card-single">
        <div class="card-body " id="platform-card-body">
            <h6 class="card-title rounded border-left border-primary border-8">Platform</h6>


            <div class="d-flex justify-content-center">
            <%- cyber_infrastructure_svg %>
            </div>
        </div>
    </div>
</div>