<div id="inputs">
    <div class="input-card card " id="workflow-dag-card">
        <div class="card-body" id="workflow-dag-card-body">
            <h6 class="card-title rounded border-left border-primary border-8">Workflow</h6>

            <div id="workflow-dag-chart">

                <div class="text-left" id="workflow-dag-chart-task-tooltip">
                    <span id="workflow-dag-chart-task-tooltip-id"></span><br>
                    <span id="workflow-dag-chart-task-tooltip-flops"></span><br>
                    <span id="workflow-dag-chart-task-tooltip-memory"></span><br>
                </div>

                <div class="text-left" id="workflow-dag-chart-file-tooltip">
                    <span id="workflow-dag-chart-file-tooltip-id"></span><br>
                    <span id="workflow-dag-chart-file-tooltip-size"></span><br>
                </div>

            </div>
        </div>
    </div>

    <div class="input-card card " id="platform-card">
        <div class="card-body" id="platform-card-body">
            <h6 class="card-title rounded border-left border-primary border-8">Platform</h6>

            <%- cyber_infrastructure_svg %>

        </div>
    </div>
</div>