<div class="card " id="run-trials-card">
    <div class="card-body">
        <h6 class="card-title rounded border-left border-info border-8">Enter Simulation Parameters</h6>
        <form id="simulator-form" class="font-weight-light">
            <div class="row justify-content-center">

                <div class="col-5">