_site/
.sass-cache/
.jekyll-cache
.jekyll-metadata
.DS_Store
.idea
web/.bundle/
web/vendor/


# Simulators
simulators/**/*_simulator
simulators/**/*_simulator_debug

# JSON output
**/workflow_data.json
