_site/
.sass-cache/
.jekyll-cache
.jekyll-metadata
.DS_Store
.idea
*.cbp
*.bak
web/.bundle/
web/vendor/
Testing


# Simulators
simulators/**/*_simulator*
simulators/**/*_simulator_debug

# JSON output
**/workflow_data.json
