body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: $heading-font-color;
  font-family: $heading-font;
  line-height: 1.5;
}

h1 {
  color: $main;
  font-size: 2.5em;

  a,
  a:visited {
    text-decoration: none;
    color: $main;
  }
}

h2 {
  font-size: 2em;
}

header {
  background: $header;
  padding: 0px 15px;
  text-align: center;
  margin: 50px 0 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
}

/* dropdown */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: 1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* Header bar area */
.header-nav {
  a {
    color: $link-color !important;
    text-decoration: none !important;
    font-weight: bold;
  }

  a:hover {
    color: $link-hover-color;
    text-decoration: none !important;
  }

  background-color: #fff;
  float: left;
  margin: 0 auto;
  width: 100%;
  padding: 0 auto;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      float: left;
      position: relative;

      a {
        letter-spacing: 1.5px;
        text-decoration: none;
        display: block;
        padding: 30px;
        font-family: 'Muli', sans-serif;
        line-height: 20px;
        margin-bottom: -1px;
        box-shadow: 0;
      }
    }
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.headerNav {
  &:hover,
  &:active {
    background: $link-color;
    text-decoration: none;
    color: #fff !important;
  }
}

.iconBox {
  float: left;
}

.iconImg {
  width: 45px;
}

/* Search Bar */
.search {
  float: right;
  padding: 25px;
  position: relative;
}

.searchBar {
  border-radius: 20px;
  height: 30px;
  width: 120%;
}

.searchIcon {
  width: 20px;
  position: absolute;
  right: 2%;
  top: 38%;
}

.dropdown-menu span {
  color: #999 !important;
  padding: 0.5em 1em 0.5em 1em !important;
  font-family: Muli, SansSerif;
}

.dropdown-menu a {
  margin: 0;
  padding: 0.5em 1em 0.5em 2em !important;
}

footer {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 40px;
}

footer .copyright {
  color: #999;
  text-align: left
}

footer .footer-menu {
  text-align: left;
  font-size: 0.9em;
  padding-left: 0;
}

footer .footer-menu > ul {
  list-style: none;
}

footer .footer-menu > li {
  margin: 0;
  padding: 0;
  display: inline;
}

footer .footer-menu > li:not(:last-child)::after {
  content: "|";
  margin: 0 .25em;
  color: #999;
}

footer .footer-menu a {
  color: #999 !important;
}

footer .footer-menu a:hover {
  text-decoration: underline;
}

footer .version {
  font-family: Menlo, Monaco, "Courier New", monospace;
  text-align: left;
  font-size: 0.8em;
  color: #BBB;
}
