$content-width: 800px;
$main: #D28346;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #D28346;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #e7edf4;
$header: #1d1425;
$light-main: #F4BE93;
$light-background: #FFFAEA;
$glossary-background: #FFFFFF;
$lo-box-background: #F5BE93;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
