// top bar
.topBar{
  text-align: center;
  justify-content: center;
}
.glossary_logo{
  width:100px;
  display: inline;
}
.glossary-title {
  display: inline;
}
.glossary_container{
  background-color: $light-background;
  padding:10%;
}
// end of top bar
.word{
  background-color: $glossary-background;
  letter-spacing: 1.5px;
}