html, body {
  margin: 0 auto;
}

.sign-in-page {
  max-width: 5em;
}

.sing-out-page button {
  box-shadow: 3px 3px 3px #aaaaaa;
}

.user-given-name {
  color: #999;
  min-height: 2em;
  vertical-align: middle;
}

.user-email {
  font-size: 0.8em;
  font-style: italic;
}

.user-mini-profile {
  margin: 0;
  padding: 1em;
}

.dropdown-menu {
  margin-top: 1.1em !important;
}

.user-image {
  border-radius: 50%;
  max-width: 2em;
  max-height: 2em;
  float: left;
  margin: 0;
  margin-right: 1em
}

.navbar {
  padding: 0 !important;
}

// cover
.cover {
  height: 500px;
  background-image: url('../assets/cover.jpg');
  background-size: cover;
  width: 100% !important;
  margin: 0 auto !important;
}

.title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 1px #000;
}

.jumbotron {
  background-color: transparent !important;
  padding-top: 5%;
  line-height: 10px;
}

.desBox {
  background-color: $main;
  padding: 5%;
  color: #fff;
  text-transform: uppercase;
}

.desBox h5 {
  line-height: 30px;
}

.sideLogo {
  width: 100px;
  padding-top: 80%;
  margin-left: 20%;
}

// end of cover
//goal
.goal {
  text-align: center;
  align-items: center;
}

.sectTitle {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

.sectTitle span {
  width: 100px;
  border-top: 3px solid $light-main;
}

.goal p {
  line-height: 30px;
  letter-spacing: 1px;
}

// end of goal

// software requirement
.browser_logo {
  width: 150px;
}

.box {
  text-align: center;
  align-content: center;
}

// end of requirement
.dropdown-item.active, .dropdown-item.focus {
  background-color: $light-main !important;
  color: #fff !important;
}

// course display box
.courseBox {
  text-align: center !important;
  align-items: center !important;
}

.courseImgs {
  width: 300px;
}

// end of course display
// media query
/* On screens that are 992px or less, move descriptions down */
@media screen and (max-width: 992px) {
  .info {
    margin-top: 60%;
    margin-bottom: 60%;
  }
  .title {
    color: $main;
  }
  .jumbotron {
    padding-top: 0;
  }
}


// sidebar search section
.search-bar {
  text-align: center;
  position: relative;
  padding: 0;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 90%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #FFFAEA;
  outline: 0;
  font-size: 1.3rem;
  color: #FFF;
  padding: 10px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 1em;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #FFFAEA;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
  }

  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #fff, #FFFAEA);
  border-image-slice: 1;
}

/* reset input */
.form__field {
  &:required, &:invalid {
    box-shadow: none;
  }
}

.terms ul {
  list-style-type: none;
  margin-left: -25px;
}

.term {
  color: $main !important;
}

.accordion-head {
  color: $main !important;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

.accordion-head .plusminus {
  float: right;
}

.accordion-body p {
  line-height: 1em !important;
  color: #666 !important;
  letter-spacing: normal !important;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

.accordion-body-hide {
  display: none !important;
}

.accordion-body-show {
  display: block !important;
}

.termBox {
  background-color: $light-background;
  letter-spacing: 1.5px;
  border: 1px solid #eee;
  color: black !important;
  text-align: left !important;
  font-size: 13px;
}

.sidebar {
  left: -20rem !important;
  width: 20rem !important;
}

.sidebar-toggle {
  top: 12rem !important;
  left: -2.5rem !important;
  font-weight: 600;
  text-align: center;
  background: #D28346 !important;
  box-shadow: -2px 2px 5px #888;
  border-radius: 10px !important;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sidebar-toggle::before {
  content: "Glossary" !important;
  color: white !important;
  width: 70px !important;
  height: 45px !important;
  padding-top: 1.2em;
  background: #D28346 !important;
}

.sidebar-toggle:active:before,
#sidebar-checkbox:focus ~ .sidebar-toggle::before,
#sidebar-checkbox:checked ~ .sidebar-toggle::before {
  background: none !important;
}

#sidebar-checkbox:checked ~ .sidebar {
  -webkit-transform: translateX(20rem) !important;
  -ms-transform: translateX(20rem) !important;
  transform: translateX(20rem) !important;
}

#sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(20rem) rotate(-90deg) !important;
  -ms-transform: translateX(20rem) rotate(-90deg) !important;
  transform: translateX(20rem) rotate(-90deg) !important;
}

#sidebar-checkbox:checked ~ .wrap {
  -webkit-transform: translateX(0rem) !important;
  -ms-transform: translateX(0rem) !important;
  transform: translateX(0rem) !important;
}

.figure {
  margin-top: 2em !important;
}

.caption {
  margin-bottom: 2em;
  color: #666;
}

.caption strong {
  color: #D28346;
}
