body {
  background-color: white;
}

.container-fixed {
  width: 950px;
  margin: auto;
}

.border-8 {
  border-width: 8px !important;
}

h6 {
  padding-left: 5px;
}

.card {
  margin-bottom: 3px;
  background-color: white;
}

#wrench-logo {
  position: relative;
  height: 50px;
  width: 50px;
}

#home-card {
  width: 25rem;

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#home-wrench-logo {
  padding: 10px;
  height: 40%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#google-button {
  max-width: 50%;
}

#single-host {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#workflow-host{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}


#title-card {
  background-color: white;
}

#title-card h6 {
  margin: auto;
}

#platform-card-single{
    display: inline-block;
    width: 100%;
}

.input-card {
    display: inline-block;
    width: 50%;
}

#inputs {
    white-space: nowrap;
}

#workflow-dag-chart {
    height: 400px;
    width: 400px;
}

#task-details-card {
  overflow: auto;
  white-space: nowrap;
  font-size: 12px;
}

#task-details-table {
  display: none;
}

#simulation-output {
  overflow: auto;
  white-space: nowrap;
  font-size: 12px;
}

#simulation-output-card span {
  margin-left: 15px;
}

.chart-card {
    overflow: auto;
}

.chart {
  height: 600px;
  width: 800px;
  margin: auto;
  display: none;
}

.legend small {
  padding-left: 3px;
  margin-right: 5px;
  border-radius: 3px;
}

#workflow-execution-chart-legend-read-input {
  border-left: 15px solid #cbb5dd;
}

#workflow-execution-chart-legend-computation {
  border-left: 15px solid #f7daad;
}

#workflow-execution-chart-legend-write-output {
  border-left: 15px solid #abdcf4;
}

#host-utilization-chart-legend-compute-time {
    border-left: 15px solid #f7daad;
}

#host-utilization-chart-legend-idle-time {
    border-left: 15px solid #ffd8f8;
}

.x-axis path .x-axis line {
    shape-rendering: crispEdges;
}

.x-axis text {
  font-family: sans-serif;
}

.x-axis {
  color: gray;
}

.y-axis {
  color: gray;
}

.read-col {
  background-color: #efe8f4;
}

.compute-col {
  background-color: #f9eedb;
}

.write-col {
  background-color: #e2f5ff;
}

#workflow-execution-chart-task-tooltip {
    position: absolute;
    width: auto;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 2px;
    border: 0px solid #000;
    display: none;
    pointer-events: none;
    font-family: sans-serif;
    font-size: 12px;
}

#workflow-execution-chart-makespan-tooltip {
    position: absolute;
    width: auto;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 2px;
    border: 0px solid #000;
    display: none;
    pointer-events: none;
    font-family: sans-serif;
    font-size: 12px;
}

#host-utilization-chart-tooltip {
    position: absolute;
    width: auto;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 2px;
    border: 0px solid #000;
    display: none;
    pointer-events: none;
    font-family: sans-serif;
    font-size: 12px;
}

#workflow-dag-chart-task-tooltip {
    position: absolute;
    width: auto;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 2px;
    border: 0px solid #000;
    display: none;
    pointer-events: none;
    font-family: sans-serif;
    font-size: 12px;
}

#workflow-dag-chart-file-tooltip {
    position: absolute;
    width: auto;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 2px;
    border: 0px solid #000;
    display: none;
    pointer-events: none;
    font-family: sans-serif;
    font-size: 12px;
}





<!-- remove spinner for number inputs -->
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
