<nav class="navbar navbar-expand header-nav">
  <div class="iconBox py-3 mx-3">
    <a href="{{ "/" | prepend: site.baseurl}}"><img src="{{site.baseurl}}/assets/wrench_logo.png" alt="wrench_logo" class="iconImg"></a>
  </div>
  <ul>
    <li class="py-3"><a class="headerNav p-3" href="{{ "/home" | prepend: site.baseurl}}">{{ "Home" | upcase}}</a></li>
    <li class="py-3">
      <div class="dropdown show btn-group">
        <a class="headerNav p-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{{ "/courses" | prepend: site.baseurl}}">{{ "Courses" | upcase}}</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          {% assign pedagogic_module_lists = site.pedagogic_modules %}
          {% for node in pedagogic_module_lists %}
            {% if node.title != null %}
              {% if node.layout == "page" %}
                <a class="dropdown-item {% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>          
    </li>
    <li class="py-3"><a class="headerNav p-3" href="{{ "/glossary" | prepend: site.baseurl}}">{{ "Glossary" | upcase}}</a></li>
    <li class="py-3">
        <div class="dropdown show btn-group">
          <a class="headerNav p-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{{ "/setup" | prepend: site.baseurl}}">{{ "Setup" | upcase}}</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Software Requirement</a>
              <a class="dropdown-item" href="#">Introduction</a>
          </div>
        </div>
    </li>			
  </ul>
</nav>

