h2{
  text-align: center;
}
.ui.secondary.pointing.menu{
  background-color: $light-background !important;
}
.ui.secondary.pointing.menu.active.item {
  border-color: $main !important;
  color: $main !important;
}