html, body {
  margin: 0 auto;
}
// cover
.cover{
  height:500px;
  background-image: url('../assets/cover.jpg');
  background-size: cover;
  width:100% !important;
  margin: 0 auto !important;
}
.title{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  color:#fff;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 1px #000;
}
.jumbotron{
  background-color: transparent !important;
  padding-top: 5%;
  line-height: 10px;
}
.desBox{
  background-color: $main;
  padding:5%;
  color:#fff;
  text-transform: uppercase;
}
.desBox h5{
  line-height: 30px;
}
.sideLogo{
  width:100px;
  padding-top: 80%;
  margin-left: 20%;
}
// end of cover
//goal
.goal{
  text-align: center;
  align-items: center;
}
.sectTitle{
  text-transform: uppercase;
  margin-top: 10px;
}
.sectTitle span{
  width:100px;
  border-top:3px solid $light-main;   
} 
.goal p{
  line-height: 30px;
  letter-spacing: 1px;
}
// end of goal

// software requirement
.browser_logo{
  width: 150px;
}
.box{
  text-align: center;
  align-content: center;
}
// end of requirement