[Unit]
Description=eduWRENCH-Server

[Service]
ExecStart=/home/wrench/eduwrench/server/app.js
Restart=always
User=wrench
Group=wrench
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/wrench/eduwrench/server

[Install]
WantedBy=multi-user.target
