
{% include partials/input_non_workflow.html imgSvg="simulation_imgs/ci_overhead.svg" %}

{% include partials/simulation_parameters_form_start.html simID="cic-overhead" %}

<div class="grouped fields col-md-6">
    <label>Host selection</label>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="host-select" id="host-select-1" value="1" checked>
            <label class="radio-inline control-label" for="host-select-1">
                Server #1
            </label>
        </div>
    </div>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="host-select" id="host-select-2" value="2">
            <label class="radio-inline control-label" for="host-select-2">
                Server #2
            </label>
        </div>
    </div>
</div>

<div class="form-group col-md-6">
    <label for="server-1-startup">Task startup overhead for Server #1 (secs)</label>
    <input class="form-control" type="number" id="server-1-startup" placeholder="" value="1" min="0" max="10" step="1" required>
    <div class="invalid-feedback">
        Please provide a value between 0 and 10.
    </div>
    <label for="server-2-startup">Task startup overhead for Server #2 (secs)</label>
    <input class="form-control" type="number" id="server-2-startup" placeholder="" value="5" min="0" max="10" step="1" required>
    <div class="invalid-feedback">
        Please provide a value between 0 and 10.
    </div>
    <label for="task-work">Task work (GFlop)</label>
    <input class="form-control" type="number" id="task-work" placeholder="" value="1000" min="100" max="2000" step="1" required>
    <div class="invalid-feedback">
        Please provide a value between 100 and 2000.
    </div>
</div>

{% include partials/simulation_parameters_form_end.html %}

{% include partials/simulation_output.html prefixID="cic-o" %}

<!--{% include partials/workflow_execution_graph.html %}-->

<!--{% include partials/host_utilization_graph.html %}-->

<!--{% include partials/workflow_execution_data.html %}-->

<script src="{{site.baseurl}}/public/sims/scripts/cic_overhead.js" type="text/javascript"></script>
