{% include partials/input_non_workflow.html imgSvg="simulation_imgs/coordinator_worker.svg" %}

{% include partials/simulation_parameters_form_start.html simID="coordinator-worker-generated" %}

<div class="ui dividing header col-md-12 small">Workers</div>
<div class="form-group col-md-6">
    <input type="text" class="form-control" id="cwg-host-specs" placeholder="10 100, 100 100, 1000 100"
           value="10 100, 100 100, 1000 100" required hidden>
    <div class="invalid-feedback">
        Please provide a comma- or space-separated list of host specifications. ([Gflops][Bandwidth to Coordinator], ...)
    </div>
</div>

<div class="form-group col-md-6">
    <input type="text" class="form-control" id="cwg-task-specs"
           placeholder="100 10 100, 100 1000 100, 1000 1000 1000, 1000 1000 1000"
           value="100 10 100, 100 1000 100, 1000 1000 1000, 1000 1000 1000" required hidden>
    <div class="invalid-feedback">
        Please provide a comma- or space-separated list of host specifications. ([Input MB][Gflop][Output MB], ...)
    </div>
</div>

<div class="form-group col-md-12">
    <label for="cwg-num-workers">Number of Workers</label>
    <input class="form-control" type="number" id="cwg-num-workers" placeholder="5" value="5" min="1" max="50" step="1"
           required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,50].
    </div>
</div>

<div class="form-group col-md-6">
    <label for="cwg-min-worker-flops">Minimum Gflop/sec Per Worker</label>
    <input type="number" class="form-control" id="cwg-min-worker-flops" placeholder="1" value="1" min="1" max="1000000"
           required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and less than or equal to the maximum Gflop/sec specified.
    </div>
</div>
<div class="form-group col-md-6">
    <label for="cwg-max-worker-flops">Maximum Gflop/sec Per Worker</label>
    <input type="number" class="form-control" id="cwg-max-worker-flops" placeholder="100" value="100" min="1"
           max="1000000" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and more than or equal to the minimum Gflop/sec specified.
    </div>
</div>

<div class="form-group col-md-6">
    <label for="cwg-min-worker-band">Minimum Bandwidth (MBps) Per Worker</label>
    <input type="number" class="form-control" id="cwg-min-worker-band" placeholder="1" value="1" min="1" max="1000000"
           required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and less than or equal to the maximum bandwidth specified.
    </div>
</div>

<div class="form-group col-md-6">
    <label for="cwg-max-worker-band">Maximum Bandwidth (MBps) Per Worker</label>
    <input type="number" class="form-control" id="cwg-max-worker-band" placeholder="100" value="100" min="1"
           max="1000000" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and more than or equal to the minimum bandwidth specified.
    </div>
</div>

<div class="ui dividing header col-md-12 small">Tasks</div>
<div class="form-group col-md-12">
    <label for="cwg-num-tasks">Number of Tasks</label>
    <input type="number" class="form-control" id="cwg-num-tasks" placeholder="5" value="5" min="1" max="100" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,100].
    </div>
</div>

<div class="form-group col-md-6">
    <label for="cwg-min-task-input">Minimum Input Per Task (MB)</label>
    <input type="number" class="form-control" id="cwg-min-task-input" placeholder="1" value="1" min="1" max="1000000"
           required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and less than or equal to the maximum input specified.
    </div>
</div>

<div class="form-group col-md-6">
    <label for="cwg-max-task-input">Maximum Input Per Task (MB)</label>
    <input type="number" class="form-control" id="cwg-max-task-input" placeholder="100" value="100" min="1"
           max="1000000" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and more than or equal to the minimum input specified.
    </div>
</div>

<div class="form-group col-md-6">
    <label for="cwg-min-task-flop">Minimum Gflop Per Task</label>
    <input type="number" class="form-control" id="cwg-min-task-flop" placeholder="1" value="1" min="1" max="1000000"
           required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and less than or equal to the maximum Gflop specified.
    </div>
</div>

<div class="form-group col-md-6">
    <label for="cwg-max-task-flop">Maximum Gflop Per Task</label>
    <input type="number" class="form-control" id="cwg-max-task-flop" placeholder="100" value="100" min="1" max="1000000"
           required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and more than or equal to the minimum Gflop specified.
    </div>
</div>
<!--<div class="form-group col-md-6">-->
<!--<label for="cwg-min-task-output">Minimum Output Per Task (MB)</label>-->
<!--<input type="text" class="form-control" id="cwg-min-task-output" placeholder="1" value="1" required>-->
<!--<div class="invalid-feedback">-->
<!--Please provide a number in the range [1,1000000] and less than or equal to the maximum output specified.-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group col-md-6">-->
<!--<label for="cwg-max-task-output">Minimum Output Per Task (MB)</label>-->
<!--<input type="text" class="form-control" id="cwg-max-task-output" placeholder="100" value="100" required>-->
<!--<div class="invalid-feedback">-->
<!--Please provide a number in the range [1,1000000] and more than or equal to the minimum output specified.-->
<!--</div>-->
<!--</div>-->

<div class="ui dividing header col-md-12 small">Scheduling</div>
<div class="grouped fields col-md-6">
    <label>Task scheduling</label>

    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="task-scheduling-select" id="cwg-task-scheduling-select-0" value="0" checked>
            <label class="radio-inline control-label" for="cwg-task-scheduling-select-0">
                Random
            </label>
        </div>
    </div>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="task-scheduling-select" id="cwg-task-scheduling-select-1" value="1">
            <label class="radio-inline control-label" for="cwg-task-scheduling-select-1">
                Highest Flop
            </label>
        </div>
    </div>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="task-scheduling-select" id="cwg-task-scheduling-select-2" value="2">
            <label class="radio-inline control-label" for="cwg-task-scheduling-select-2">
                Lowest Flop
            </label>
        </div>
    </div>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="task-scheduling-select" id="cwg-task-scheduling-select-3" value="3">
            <label class="radio-inline control-label" for="cwg-task-scheduling-select-3">
                Highest Bytes
            </label>
        </div>
    </div>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="task-scheduling-select" id="cwg-task-scheduling-select-4" value="4">
            <label class="radio-inline control-label" for="cwg-task-scheduling-select-4">
                Lowest Bytes
            </label>
        </div>
    </div>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="task-scheduling-select" id="cwg-task-scheduling-select-5" value="5">
            <label class="radio-inline control-label" for="cwg-task-scheduling-select-5">
                Highest Flop/Bytes
            </label>
        </div>
    </div>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="task-scheduling-select" id="cwg-task-scheduling-select-6" value="6">
            <label class="radio-inline control-label" for="cwg-task-scheduling-select-6">
                Lowest Flop/Bytes
            </label>
        </div>
    </div>
</div>

<div class="grouped fields col-md-6">
    <label>Worker scheduling</label>

    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="compute-scheduling-select" id="cwg-compute-scheduling-select-0" value="0" checked>
            <label class="radio-inline control-label" for="cwg-compute-scheduling-select-0">
                Random
            </label>
        </div>
    </div>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="compute-scheduling-select" id="cwg-compute-scheduling-select-1" value="1">
            <label class="radio-inline control-label" for="cwg-compute-scheduling-select-1">
                Fastest Worker
            </label>
        </div>
    </div>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="compute-scheduling-select" id="cwg-compute-scheduling-select-2" value="2">
            <label class="radio-inline control-label" for="cwg-compute-scheduling-select-2">
                Best-Connected Worker
            </label>
        </div>
    </div>
    <!--    <div class="field">-->
    <!--        <div class="ui radio checkbox">-->
    <!--            <input type="radio" name="compute-scheduling-select" id="cwg-compute-scheduling-select" value="3" >-->
    <!--            <label class="radio-inline control-label" for="cwg-compute-scheduling-select">-->
    <!--            Largest Compute/IO Time Ratio-->
    <!--            </label>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="compute-scheduling-select" id="cwg-compute-scheduling-select-4" value="4">
            <label class="radio-inline control-label" for="cwg-compute-scheduling-select-4">
                Earliest Completion
            </label>
        </div>
    </div>
</div>

<div class="form-group col-md-6">
    <label for="cwg-invocations">Number of experiments</label>
    <input type="number" class="form-control" id="cwg-invocations" placeholder="30" value="30" min="2" max="100" required>
    <div class="invalid-feedback">
        Please provide an integer value in the range [2,100].
    </div>
</div>

<div class="form-group col-md-6">
    <label for="cwg-seed">Seed</label>
    <input type="number" class="form-control" id="cwg-seed" placeholder="12345" value="12345" required>
    <div class="invalid-feedback">
        Please provide a positive integer value.
    </div>
</div>

{% include partials/simulation_parameters_form_end.html %}

{% include partials/simulation_output.html prefixID="cwg" %}

<script src="{{site.baseurl}}/public/sims/scripts/coordinator_worker_generated.js" type="text/javascript"></script>
