
{% include partials/input_non_workflow.html imgSvg="simulation_imgs/multi_core_io.svg" %}

{% include partials/simulation_parameters_form_start.html %}

<div class="form-group col-md-6">
    <label for="task1-input-size">Task #1 input size (MB)</label>
    <input class="form-control" type="number" id="task1-input-size" placeholder="1" value="100" min="1" max="1000" step="1"
           required>
    <div class="invalid-feedback">
        Please provide a number of MBs in the range of [100, 1000].
    </div>
</div>

<div class="form-group col-md-6">
    <label for="task1-work">Task #1 work (Gflop)</label>
    <input class="form-control" type="number" id="task1-work" placeholder="1" value="500" min="1" max="1000" step="1"
           required>
    <div class="invalid-feedback">
        Please provide a number of Gflop in the range of [100, 1000].
    </div>
</div>

<div class="form-group col-md-6">
    <label for="task1-output-size">Task #1 output size (MB)</label>
    <input class="form-control" type="number" id="task1-output-size" placeholder="1" value="100" min="1" max="1000" step="1"
           required>
    <div class="invalid-feedback">
        Please provide a number of MBs in the range of [100, 1000].
    </div>
</div>

<div class="grouped fields col-md-6">
    <label>Task ordering:</label>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="task-select" id="task-select-1" value="1" checked>
            <label class="radio-inline control-label" for="task-select-1">
                Task #1 first
            </label>
        </div>
    </div>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="task-select" id="task-select-2" value="2">
            <label class="radio-inline control-label" for="task-select-2">
                Task #2 first
            </label>
        </div>
    </div>
</div>



{% include partials/simulation_parameters_form_end.html %}

{% include partials/simulation_output.html %}

{% include partials/workflow_execution_graph.html %}

{% include partials/host_utilization_graph.html %}

<!--{% include partials/workflow_execution_data.html %}-->

<script src="{{site.baseurl}}/public/sims/scripts/multi_core_independent_tasks_io.js" type="text/javascript"></script>
