
{% include partials/input_non_workflow.html imgSvg="simulation_imgs/workflow_distributed.svg" %}

{% include partials/simulation_parameters_form_start.html %}

<div class="form-group col-md-6">
    <label for="num-hosts">Number of compute hosts</label>
    <input class="form-control" type="number" id="num-hosts" placeholder="1" value="1" min="1" max="20" step="1" required>
    <div class="invalid-feedback">
        Provide a number in the range of [1, 20]
    </div>
</div>

<div class="form-group col-md-6">
    <label for="num-cores">Number of cores per compute host</label>
    <input class="form-control" type="number" id="num-cores" placeholder="1" value="1" min="1" max="32" step="1" required>
    <div class="invalid-feedback">
        Provide a number in the range of [1, 32]
    </div>
</div>

{% include partials/simulation_parameters_form_end.html %}

{% include partials/simulation_output.html %}

<!--{% include partials/workflow_execution_graph.html %}-->

{% include partials/host_utilization_graph.html %}

{% include partials/workflow_execution_data.html %}

<script src="{{site.baseurl}}/public/sims/scripts/workflow_distributed.js" type="text/javascript"></script>
