<div class="card text-center chart-card" id="host-utilization-chart-card">
    <div class="card-body" id="host-utilization-chart-block">
        <h6 class="card-title text-left rounded border-left border-warning border-8">Host Utilization</h6>
        <div class="chart" id="host-utilization-chart">

            <div class="container legend" id="host-utilization-chart-legend">
                <small class="inline-block" id="host-utilization-chart-legend-compute-time">Compute Time</small>
                <small class="inline-block" id="host-utilization-chart-legend-idle-time">Idle Time</small>
            </div>

            <div class="text-left" id="host-utilization-chart-tooltip">
                <span id="host-utilization-chart-tooltip-task-id"></span><br>
            </div>

        </div>

    </div>
</div>