<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <p class="copyright">
                    &copy;2020 eduWRENCH. All Rights Reserved.
                </p>
                <ul class="footer-menu">
                    <li><a href="/policy">Privacy Policy</a></li>
                    <li><a href="/courses">Our Courses</a></li>
                    <li><a href="https://wrench-project.org" target="_blank">WRENCH Project</a></li>
                </ul>
                <p class="version">
                    Running eduWRENCH {{ site.version }}
                </p>
            </div>
            <div class="col-sm-6 col-md-6">
                <p style="color: #999; text-align: left">
                    eduWRENCH is funded by the National Science Foundation (NSF) under grants number
                    <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1923539" target="_blank">1923539</a>, and
                    <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1923621" target="_blank">1923621</a>.
                </p>
                <p style="font-size: 0.8em; color: #999; text-align: left">
                    Any opinions, findings, and conclusions or recommendations expressed in this material are those of
                    the author(s) and do not necessarily reflect the views of the National Science Foundation.
                </p>
            </div>
        </div>
    </div>
</footer>
