<nav class="navbar navbar-expand header-nav">
    <div class="iconBox py-3 mx-3">
        <a href="{{ "/" | prepend: site.baseurl}}"><img src="{{site.baseurl}}/assets/wrench_logo.png" alt="wrench_logo"
                                                        class="iconImg"></a>
    </div>
    <ul>
        <li class="py-3"><a class="headerNav p-3" href="{{ "/" | prepend: site.baseurl}}">{{ "Home" | upcase}}</a></li>
        <li class="py-3"><a class="headerNav p-3" href="{{ "/courses" | prepend: site.baseurl}}">{{ "Courses" | upcase}}</a></li>
<!--            <div class="dropdown show btn-group">-->
<!--                <a class="headerNav p-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"-->
<!--                   aria-expanded="false" href="{{ "/courses" | prepend: site.baseurl}}">{{ "Courses" | upcase}}</a>-->
<!--                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->

<!--                    <span class="dropdown-item">A. Parallel and Distributed Computing Concepts</span>-->
<!--                    {% assign pedagogic_module_lists = site.pedagogic_modules | sort: "order" %}-->
<!--                    {% for node in pedagogic_module_lists %}-->
<!--                    {% if node.title != null and node.layout == "page" and node.order < 200 %}-->
<!--                    <a class="dropdown-item {% if page.url == node.url %} active{% endif %}"-->
<!--                       href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->

<!--                    <span class="dropdown-item">B. Cyberinfrastructure Concepts</span>-->
<!--                    {% assign pedagogic_module_lists = site.pedagogic_modules | sort: "order" %}-->
<!--                    {% for node in pedagogic_module_lists %}-->
<!--                    {% if node.title != null and node.layout == "page" and node.order >= 200 and node.order < 300 %}-->
<!--                    <a class="dropdown-item {% if page.url == node.url %} active{% endif %}"-->
<!--                       href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->

<!--                    <span class="dropdown-item">C. Cyberinfrastructure Services</span>-->
<!--                    {% assign pedagogic_module_lists = site.pedagogic_modules | sort: "order" %}-->
<!--                    {% for node in pedagogic_module_lists %}-->
<!--                    {% if node.title != null and node.layout == "page" and node.order >= 300 and node.order < 400 %}-->
<!--                    <a class="dropdown-item {% if page.url == node.url %} active{% endif %}"-->
<!--                       href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->
        <li class="py-3">
            <a class="headerNav p-3" href="{{ "/glossary" | prepend: site.baseurl}}">{{ "Glossary" | upcase}}</a>
        </li>
    </ul>
    <div class="navbar-collapse collapse order-3 dual-collapse2 mt-3">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div class="app-content mx-0 position-relative">
                    <div class="sign-in-page show">
                        <p class="mx-auto">
                        Sign in with Google to get started running interactive simulations.
                        </p>
                        <div class="g-signin2 pb-2 signInBut" data-onsuccess="onSignIn"></div>
                    </div>
                </div>
                <div>
                    <p class="user-title d-inline"></p>
                    <a href="#" onclick="signOut();" class="signOutBut p-2 m-2 hide">Sign out</a> 
                </div>
            </li>
        </ul>
    </div>
</nav>
