<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
        <!-- <p>{{ site.description }}</p> -->
        <h1>Glossary</h1>
    </div>

    <div class="search-bar mt-3">
        <input type="input" class="form__field" name="searchInput" id="searchInput" onkeyup="searchTerm()"
               placeholder="Search for a term..." required/>
        <label for="searchInput" class="form__label">Search for a term...</label>
    </div>

    <div class="terms">
        <ul id="wordList" class="">
            {% assign glossary_items = site.data.glossary | sort_natural: "term" %}
            {% for word in glossary_items %}
            <li class="m-2 pt-2 pb-2">
                <div class="termBox mr-4 p-3">
                    <div class="accordion-head">
                        <h4 class="term">{{ word.term }}
<!--                            <span class="plusminus pr-2">+</span>-->
                        </h4></div>
                    <div class="accordion-body mt-2">
                        <p>{{ word.description | capitalize}}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="sidebar-item">
        <p>
            &copy;{{ site.time | date: '%Y' }} eduWRENCH. All rights reserved.
        </p>
    </div>
</div>
