<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pedagogic_module_list = site.pedagogic_modules | sort:"order" %}
    {% for node in pedagogic_module_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href=" {{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% comment %}
      Add the glossary to the nav bar at the *end* of the list.
    {% endcomment %}
    <a class="sidebar-nav-item active" href=" {{ site.baseurl }}/glossary">Glossary</a>
  </nav>

  <div class="search-bar mt-3">
    <input type="text" id="searchInput" class="mb-1" onkeyup="searchTerm()" placeholder="Search for glossary..">
    <ul id="wordList" class="invisible">
      {% assign glossary_items = site.data.glossary | sort:"term" %}
      {% for word in glossary_items %}
      <li class="m-2 pr-1 pt-1"><a href="{{ site.baseurl }}/glossary/#{{ word.term | url_encode }}" class="term">
        <h5>{{ word.term | capitalize}}</h5>
        <p>{{ word.description | capitalize}}</p>
      </a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>