<div class="ui accordion fluid app-ins">
    <div class="title">
        <i class="dropdown icon"></i>
        (Open simulator here)
    </div>
    <div markdown="0" class="ui segment content sim-frame">
        <div class="ui container">
            <div class="col-12 signInText">
                <h3 class="mb-2 mt-3" style="font-size: 1.3em; color: #666">
                    <img src="{{site.baseurl}}/assets/wrench_logo.png" alt="wrench_logo" class="iconImg"/>
                    eduWRENCH Pedagogic Module Simulator
                </h3>
                <h5 class="mb-3 mt-2">Sign in on the top of the page to access the simulator.</h5>
            </div>
            <div class="col-12 myAppFrame" id="myApp">
                {% include simulation/{{ include.src }}.html %}
            </div>
        </div>
    </div>
</div>
