<!-- simulation app page -->

<div class="text-center p-3 mt-3 app-wrapper">
  <div class="row text-center">
    <img
    src="{{site.baseurl}}/assets/wrench_logo.png"
    alt="wrench_logo"
    class="iconImg col-2"
    />
    <h2 class="col-10">Wrench Pedagogic Module Simulator</h2>
    <h5 class="col-12 signIn-info mb-2">Sign in on the page to access the simulator</h5>
  </div>
  <div id="myApp">
    <iframe class="myAppFrame" src="{{site.baseurl}}/simulations/{{include.src}}" frameborder="0"></iframe>
  </div>
</div>