.card {
  background-color: white !important;
  border-color: white !important;
}

ul li::before {
  color: black;
}

Badge {
  color: white !important;
  background-color: white !important;
}

.main {
  border-color: lightgrey !important;
  margin-bottom: 50px;
}

.table {
  background-color: white;
  border-color: black;
}

table {
  table-layout: fixed;
  width: 100%;
}
td {
  width: 33%;
}
