.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  color: #525252;
}

.inverted {
  background-color: #d98636 !important;
  color: #fff !important;
}

.ui.block.header, .ui.block.header a {
  background-color: #d98636 !important;
  color: #fff !important;
  border: 0;
  border-radius: 0.5em;
  font-size: 1em !important;
}

.module-desc {
  font-size: 0.9em;
  color: #777;
}

.module-desc .button {
  margin-top: -0.5em !important;
  margin-right: 1em !important;
}

.irow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.icolumn {
  background-color: #fefaec;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.link {
  color: #c78651;
}

.link:hover {
  color: #c78651;
}

.m {
  border-color: lightgrey !important;
}
