.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  color: #525252;
}

.inverted {
  background-color: #d98636 !important;
  color: #fff !important;
}

.ui.block.header {
  background-color: #d98636 !important;
  color: #fff !important;
  border: 0;
  border-radius: 0.5em;
  font-size: 1em !important;
}

.segment * {
  background-color: #fff !important;
}
