.task-data {
    max-height: 30em;
    overflow: auto;
}

.table-read {
    color: #469C76 !important;
}

.table-write {
    color: #5C95BF !important;
}

.table-compute {
    color: #B9A44D !important;
}
