.modalContainer{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.modal{
  width: 300px;
  height: 150px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  z-index:100;
}
.modalButton{
  position: relative;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}
