---
layout: default
---

<h2 class="mx-auto">{{ page.title }}</h2>

<!-- include sidebar -->
<div>
  {% include sidebar.html %}
</div>
<div class="real-content">
  {{ content }}
</div>

<!-- insert nav items for each page -->
<script>
  $(document).ready(function() {
    if (!$(".ui.tab.segment.active").length) {
      let list = $("<div class='row mt-3'></div>");
      // search largest header groups
      let header;
      for(let i = 2; i <=6 ; ++i) {
        if ($(`.real-content h${i}[id]`).length >= 3) {
            header = `h${i}`;
            break;
        }
      }
      // add quick nav-items under titles
      // and highlight those items
      $(`.real-content ${header}[id]`).each(function() {
        let title = $(this).html();
        // generate id href and remove special characters
        title = title.replace(/[^a-zA-Z ]/g, "")
        title = title.replace(/\s+/g, "-").toLowerCase();
        list.append(
          `<p class='nav-items px-3 py-2 mx-2 my-2'><a class='col-4' href='#${title}'>${$(
            this
          ).html()}</a></p>`
        );
        $(this).addClass("highlight-title");
      });
      list.insertAfter(".content h2.mx-auto");
    } else {
        // for tab secondary specific items
      let list = $("<div class='row mt-3'></div>");
      $(".real-content h4").each(function() {
        $(this).addClass("highlight-title");
      });
    }
  });
</script>
