---
layout: simulation
title: IO Operations
permalink: simulations/io_operations/
---

{% include partials/input_non_workflow.html imgSvg="simulation_imgs/io_task.svg" %}

{% include partials/simulation_parameters_form_start.html %}

<div class="form-group col-md-6">
    <label for="num-tasks">Number of Tasks</label>
    <input class="form-control" id="num-tasks" placeholder="1" value="1" min="1" max="999" step="1" required>
    <div class="invalid-feedback">
        Please provide the number of tasks in the range of [1, 999].
    </div>
</div>

<div class="form-group col-md-6">
    <label for="task-gflop">Task Gflop</label>
    <input class="form-control" type="number" id="task-gflop" placeholder="100" value="100" min="1" max="999999"
           step="1" aria-describedby="task-gflop-help-block" required>
    <small id="task-gflop-help-block" class="form-text text-muted">Host capable of 100 Gflops</small>
    <div class="invalid-feedback">
        Please provide the amount of Gflop per task in the range of [1, 999999].
    </div>
</div>

<div class="form-group col-md-6">
    <label for="task-input">Amount of Task Input Data</label>
    <input class="form-control" type="number" id="task-input" placeholder="1" value="1" min="1" max="999" step="1"
           aria-describedby="task-input-help-block" required>
    <small id="task-input-help-block" class="form-text text-muted">Disk reads at 100 MBps</small>
    <div class="invalid-feedback">
        Please provide the amount of input data per task in the range of [0, 999] MB.
    </div>
</div>

<div class="form-group col-md-6">
    <label for="task-output">Amount of Task Output Data</label>
    <input class="form-control" type="number" id="task-output" placeholder="1" value="1" min="1" max="999" step="1"
           aria-describedby="task-output-help-block" required>
    <small id="task-output-help-block" class="form-text text-muted">Disk writes at 100 MBps</small>
    <div class="invalid-feedback">
        Please provide the amount of output data per task in the range of [0, 999] MB.
    </div>
</div>

<div class="form-group col-md-6">
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" name="io-overlap" type="checkbox" id="io-overlap" value="1">
            IO Overlap Allowed (Computation and IO can take place concurrently)
        </label>
    </div>
</div>

{% include partials/simulation_parameters_form_end.html %}

{% include partials/simulation_output.html %}

{% include partials/workflow_execution_graph.html %}

{% include partials/host_utilization_graph.html %}

{% include partials/workflow_execution_data.html %}

<script src="{{site.baseurl}}/public/sims/scripts/io_operations.js" type="text/javascript"></script>
