---
layout: simulation
title: Master Worker
permalink: simulations/master_worker_generated/
---

{% include partials/input_non_workflow.html imgSvg="simulation_imgs/master_worker.svg" %}

{% include partials/simulation_parameters_form_start.html %}

<div class="form-group col-md-6">
    <input type="text" class="form-control" id="host-specs" placeholder="10 100, 100 100, 1000 100" value="10 100, 100 100, 1000 100" required hidden>
    <div class="invalid-feedback">
        Please provide a comma- or space-separated list of host specifications. ([Gflops][Bandwidth to Master], ...)
    </div>
</div>

<div class="form-group col-md-6">
    <input type="text" class="form-control" id="task-specs" placeholder="100 10 100, 100 1000 100, 1000 1000 1000, 1000 1000 1000" value="100 10 100, 100 1000 100, 1000 1000 1000, 1000 1000 1000" required hidden>
    <div class="invalid-feedback">
        Please provide a comma- or space-separated list of host specifications. ([Input MB][Gflop][Output MB], ...)
    </div>
</div>

<div class="form-group col-md-12">
    <label for="num_workers">Number of Workers</label>
    <input type="text" class="form-control" id="num-workers" placeholder="5" value="5" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,50].
    </div>
</div>
<div class="form-group col-md-6">
    <label for="min_worker_flops">Minimum Gflop Per Worker</label>
    <input type="text" class="form-control" id="min-worker-flops" placeholder="1" value="1" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and less than or equal to the maximum Gflop specified.
    </div>
</div>
<div class="form-group col-md-6">
    <label for="max_worker_flops">Maximum Gflop Per Worker</label>
    <input type="text" class="form-control" id="max-worker-flops" placeholder="100" value="100" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and more than or equal to the minimum Gflop specified.
    </div>
</div>

<div class="form-group col-md-6">
    <label for="min_worker_band">Minimum Bandwidth (MBps) Per Worker</label>
    <input type="text" class="form-control" id="min-worker-band" placeholder="1" value="1" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and less than or equal to the maximum bandwidth specified.
    </div>
</div>

<div class="form-group col-md-6">
    <label for="max_worker_band">Maximum Bandwidth (MBps) Per Worker</label>
    <input type="text" class="form-control" id="max-worker-band" placeholder="100" value="100" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and more than or equal to the minimum bandwidth specified.
    </div>
</div>


<div class="form-group col-md-12">
    <label for="num_tasks">Number of Tasks</label>
    <input type="text" class="form-control" id="num-tasks" placeholder="5" value="5" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,100].
    </div>
</div>

<div class="form-group col-md-6">
    <label for="min_task_input">Minimum Input Per Task (MB)</label>
    <input type="text" class="form-control" id="min-task-input" placeholder="1" value="1" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and less than or equal to the maximum input specified.
    </div>
</div>
<div class="form-group col-md-6">
    <label for="max_task_input">Maximum Input Per Task (MB)</label>
    <input type="text" class="form-control" id="max-task-input" placeholder="100" value="100" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and more than or equal to the minimum input specified.
    </div>
</div>


<div class="form-group col-md-6">
    <label for="min_task_flop">Minimum Gflop Per Task</label>
    <input type="text" class="form-control" id="min-task-flop" placeholder="1" value="1" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and less than or equal to the maximum Gflop specified.
    </div>
</div>

<div class="form-group col-md-6">
    <label for="max_task_flop">Maximum Gflop Per Task</label>
    <input type="text" class="form-control" id="max-task-flop" placeholder="100" value="100" required>
    <div class="invalid-feedback">
        Please provide a number in the range [1,1000000] and more than or equal to the minimum Gflop specified.
    </div>
</div>
<!--<div class="form-group col-md-6">-->
    <!--<label for="min_task_output">Minimum Output Per Task (MB)</label>-->
    <!--<input type="text" class="form-control" id="min-task-output" placeholder="1" value="1" required>-->
    <!--<div class="invalid-feedback">-->
        <!--Please provide a number in the range [1,1000000] and less than or equal to the maximum output specified.-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group col-md-6">-->
    <!--<label for="max_task_output">Minimum Output Per Task (MB)</label>-->
    <!--<input type="text" class="form-control" id="max-task-output" placeholder="100" value="100" required>-->
    <!--<div class="invalid-feedback">-->
        <!--Please provide a number in the range [1,1000000] and more than or equal to the minimum output specified.-->
    <!--</div>-->
<!--</div>-->


<grid>

    <row>
        <span><b>Task Scheduling</b></span>
    </row>
    <row>
        <div class="form-group radio-form-fix">
            <input type="radio" name="task-scheduling-select" id="task-scheduling-select" value="0" checked>
            <label class="radio-inline control-label" for="task_scheduling_select">
                Random
            </label>
            <input type="radio" name="task-scheduling-select" id="task-scheduling-select" value="1">
            <label class="radio-inline control-label" for="task_scheduling_select">
                Highest Flop
            </label>
            <input type="radio" name="task-scheduling-select" id="task-scheduling-select" value="2">
            <label class="radio-inline control-label" for="task_scheduling_select">
                Lowest Flop
            </label>
            <input type="radio" name="task-scheduling-select" id="task-scheduling-select" value="3">
            <label class="radio-inline control-label" for="task_scheduling_select">
                Highest Bytes
            </label>
            <input type="radio" name="task-scheduling-select" id="task-scheduling-select" value="4">
            <label class="radio-inline control-label" for="task_scheduling_select">
                Lowest Bytes
            </label>
            <input type="radio" name="task-scheduling-select" id="task-scheduling-select" value="5">
            <label class="radio-inline control-label" for="task_scheduling_select">
                Highest Flop/Bytes
            </label>
            <input type="radio" name="task-scheduling-select" id="task-scheduling-select" value="6">
            <label class="radio-inline control-label" for="task_scheduling_select">
                Lowest Flop/Bytes
            </label>
        </div>
    </row>
</grid>
<grid>
    <row>
        <span><b>Worker Scheduling</b></span>
    </row>
    <row>
        <div class="form-group radio-form-fix">

            <input type="radio" name="compute-scheduling-select" id="compute-scheduling-select" value="0" checked>
            <label class="radio-inline control-label" for="compute_scheduling_select">
                Random
            </label>
            <input type="radio" name="compute-scheduling-select" id="compute-scheduling-select" value="1" >
            <label class="radio-inline control-label" for="compute_scheduling_select">
                Fastest Worker
            </label>
            <input type="radio" name="compute-scheduling-select" id="compute-scheduling-select" value="2" >
            <label class="radio-inline control-label" for="compute_scheduling_select">
                Best-Connected Worker
            </label>
            <input type="radio" name="compute-scheduling-select" id="compute-scheduling-select" value="3" >
            <label class="radio-inline control-label" for="compute_scheduling_select">
                Largest Compute/IO Time Ratio
            </label>
            <input type="radio" name="compute-scheduling-select" id="compute-scheduling-select" value="4" >
            <label class="radio-inline control-label" for="compute_scheduling_select">
                Earliest Completion
            </label>
        </div>
    </row>
</grid>
s
<div class="form-group col-md-6">
    <label for="invocations">Number of experiments</label>
    <input type="text" class="form-control" id="invocations" placeholder="50" value="50" min="2" max="100" required>
    <div class="invalid-feedback">
        Please provide an integer value in the range [2,100].
    </div>
</div>

<div class="form-group col-md-6">
    <label for="seed">Seed</label>
    <input type="text" class="form-control" id="seed" placeholder="12345" value="12345" required>
    <div class="invalid-feedback">
        Please provide a positive integer value.
    </div>
</div>

{% include partials/simulation_parameters_form_end.html %}

{% include partials/simulation_output.html %}


<script src="{{site.baseurl}}/public/sims/scripts/master_worker.js" type="text/javascript"></script>
