---
layout: simulation
title: Running the program on 3 cores
permalink: simulations/multi_core_dependent_tasks/
---

{% include partials/input_non_workflow.html imgSvg="simulation_imgs/multi_core_dependencies_3_cores.svg" %}

{% include partials/simulation_parameters_form_start.html %}

<div class="form-group col-md-6">
    <label for="analyze_work">Work of "analyze" task in GFlop</label>
    <input class="form-control" id="analyze-work" placeholder="100" value="100" min="10" max="1000" step="1" required>
    <div class="invalid-feedback">
        Please provide the work of the "analyze" task in the range [10, 1000].
    </div>
</div>


{% include partials/simulation_parameters_form_end.html %}

{% include partials/simulation_output.html %}

<!--{% include partials/workflow_execution_graph.html %}-->

{% include partials/host_utilization_graph.html %}

<!--{% include partials/workflow_execution_data.html %}-->

<script src="{{site.baseurl}}/public/sims/scripts/dashboard/scripts/util.js" type="text/javascript"></script>
<script src="{{site.baseurl}}/public/sims/scripts/dashboard/scripts/initialise.js" type="text/javascript"></script>
<script src="{{site.baseurl}}/public/sims/scripts/dashboard/scripts/graph-sections/simulation-graph.js"
        type="text/javascript"></script>
<script src="{{site.baseurl}}/public/sims/scripts/dashboard/partials/simulation-graph.js"
        type="text/javascript"></script>
<script src="{{site.baseurl}}/public/sims/scripts/dashboard/scripts/graph-sections/host-utilization.js"
        type="text/javascript"></script>
<script src="{{site.baseurl}}/public/sims/scripts/dashboard/partials/host-utilization.js"
        type="text/javascript"></script>
<script src="{{site.baseurl}}/public/sims/scripts/dashboard/scripts/graph-sections/simulation-details.js"
        type="text/javascript"></script>
<script src="{{site.baseurl}}/public/sims/scripts/dashboard/partials/simulation-details.js"
        type="text/javascript"></script>
<script src="{{site.baseurl}}/public/sims/scripts/multi_core_dependent_tasks_3_cores.js"
        type="text/javascript"></script>
