.navbar-brand, .navbar-text {
    padding: 0 !important;
    margin-left: 0.5em !important;
}

.menu-item {
    color: #d3834a !important;
}

.menu-item:hover {
    background-color: #d3834a !important;
    color: #fff !important;
}

.menu-logo:hover {
    background-color: #fff !important;
}
