html, .equation,span.base,span.base,.katex-html,span.base>*,span.mord>*,.mfrac>.vlist-t>.vlist-r,span.mord,span.mord.text,span.stretchy>*,span.vlist-s,span.vlist-t2,div.equation>p,.equation>h4,.equation>h3,.equation>h2,.equation>h1,div.caption,.equation>*>strong,.equation>*>em,.caption>strong,.caption>em  {
    background-color: white !important;
}

.katex .mfrac>span>span>span.vlist {
    background-color: rgba(255, 255, 255, 0.0);
}

.highlighted>ul, .highlighted>ul>li, .highlighted>ul>li>p {
    background-color: #ecc099;
}
