.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    color: #525252;
}

.tab-panes {
    margin-bottom: 4em;
}

.tab-panes * {
    background-color: #fff;
}

.objectives * {
    background-color: #fafafa !important;
}

.objectives .inverted, .objectives strong {
    background-color: #d98636 !important;
    color: #fff !important;
}

.mord {
    color: #000;
    font-size: 1em;
}

.mord.text {
    margin-left: 0.5em !important;
}

.vlist {
    height: 0 !important;
}

.tab-panes .ui.block.header {
    background-color: #d98636 !important;
    color: #fff !important;
    border: 0;
    border-radius: 0.5em;
    font-size: 1em !important;
}

.caption {
    color: #999;
    margin-bottom: 1em;
}

.caption strong {
    color: #c78651;
}

.info-label {
    border: 0 !important;
    color: #666666 !important;
}

.simulation {
    border: 2px solid #c78651;
    box-shadow: #ccc 3px 3px 3px;
    /*border-radius: 1em !important;*/
}

.simulation .title {
    color: #000 !important;
    /*border-radius: 1em !important;*/
    border: 0 !important;
}

.simulation .active.content {
    background-color: #f7f7f7 !important;
}

.simulation .active.title {
    color: #666 !important;
}

pre {
    margin: 0 !important;
    padding: 0 !important;
}

.footnote {
    color: #aaa;
    font-size: 0.9em;
}
