---
layout: default
permalink: /
---

<!-- cover -->
<div class="cover">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-2">
                <img src="{{site.baseurl}}/assets/wrench_logo.png" alt="wrench_logo" class="sideLogo">
            </div>
            <div class="col-lg-8">
                <h2 class="display-8 title">Wrench Pedagogic Modules</h2>
                <hr class="my-4"/>
                <div class="desBox">
                    <h5 class="magic">A guided set of educational activities focused on
                        parallel computing, distributed computing, and cyberinfrastructure
                        concepts through using the WRENCH simulation framework.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="info">
    <div class="mx-5">
        <div class="row" style="margin-bottom: 2em">
            <div class="col-lg-6">
                <h4 class="sectTitle m-3 py-3">
                    <span>Goal</span>
                </h4>
                <p class="px-3 mx-5">
                    The goal is for students to achieve learning objectives in the areas of parallel computing,
                    distributed computing, and cyberinfrastructure computing. This is achieved via pedagogic modules
                    that explore, at first elementary and later sophisticated, relevant concepts. These modules include
                    hands-on "activities" in which students explore and experiment with simulated application using
                    the <a href="https://wrench-project.org" target="_blank">WRENCH</a> simulation framework. These
                    modules can be used to enhance/augment existing courses, such as university or on-line courses, or
                    can simply be done in sequence by independent students.
                </p>
            </div>
            <div class="col-lg-6">
                <h4 class="sectTitle m-3 py-3">
                    <span>About WRENCH</span>
                </h4>
                <p class="px-3 mx-5">
                    <a href="https://wrench-project.org" target="_blank">WRENCH</a> is framework for simulating the
                    execution of parallel and distributed applications on cyberinfrastructures. It is based on the
                    lower-level <a href="https://simgrid.org/" target="_blank">SimGrid</a> simulation framework, which
                    provides the necessary accurate and scalable simulation abstractions.
                </p>
            </div>
        </div>
    </div>

    <div class="goal mx-5">
        <!--        <h4 class="sectTitle m-3 py-3">-->
        <!--            <span>Software Requirement</span>-->
        <!--        </h4>-->
        <!--        <p class="px-3 mx-6">-->
        <!--            You need the latest version of either of the following web browsers:-->
        <!--        </p>-->
        <!--        <div class="row">-->
        <!--            <div class="col-4">-->
        <!--                <a href="https://www.google.com/chrome/" target="_blank"><img src="{{site.baseurl}}/assets/chrome.png"-->
        <!--                                                                              alt="browser_logo"-->
        <!--                                                                              class="browser_logo mx-auto"></a>-->
        <!--                <p class="pt-2">Google Chrome</p>-->
        <!--            </div>-->
        <!--            <div class="col-4">-->
        <!--                <a href="https://www.mozilla.org/en-US/firefox/" target="_blank"><img-->
        <!--                        src="{{site.baseurl}}/assets/firefox.png" alt="browser_logo" class="browser_logo mx-auto"></a>-->
        <!--                <p class="pt-2">Firefox</p>-->
        <!--            </div>-->
        <!--            <div class="col-4">-->
        <!--                <a href="https://www.apple.com/safari/" target="_blank"><img src="{{site.baseurl}}/assets/safari.png"-->
        <!--                                                                             alt="browser_logo"-->
        <!--                                                                             class="browser_logo mx-auto"></a>-->
        <!--                <p class="pt-2">Safari</p>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="mx-5">-->
        <!--            <h4 class="sectTitle m-3 py-3">-->
        <!--                <span>Run Simulations</span>-->
        <!--            </h4>-->
        <!--            <div class="row">-->
        <!--                <p class="px-3 mx-6">Additional software may be required for running simulations in a Web application.-->
        <!--                    See the <a href="{{site.baseurl}}/pedagogic_modules/simulation_instructions/index/" target="_blank">Instructions-->
        <!--                        for running simulations</a>.</p>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="mCourses">
            <h4 class="sectTitle m-3 py-3">
                <span>Modules</span>
            </h4>
            <div class="row">
                {% assign modules = site.pedagogic_modules | where: "submodule","main" | sort: "order" %}
                {% for module in modules %}
                {% if module.title != null and module.layout == "page" %}
                <div class="courseBox col-4 px-4" style="margin-bottom: 1em">
                    <div class="ui tab segment active">
                        <div class="modules">
                            <h3>{{ module.title }}</h3>
                            {% assign submodules = site.pedagogic_modules | where: "submodule",module.submodulecat |
                            sort: "order" %}
                            <ul>
                                {% for submodule in submodules %}
                                {% if submodule.title != "DRAFT" and submodule.layout == "page" %}
                                <li>
                                    <a href="{{ site.baseurl }}{{ submodule.url }}">{{ submodule.title }}</a>
                                    {% assign subsubmodules = site.pedagogic_modules | where:
                                    "submodule",submodule.submodulecat | sort: "order" %}
                                    <ul>
                                        {% for subsubmodule in subsubmodules %}
                                        {% if subsubmodule.title != "DRAFT" and subsubmodule.layout == "page" %}
                                        <li>
                                            <a href="{{ site.baseurl }}{{ subsubmodule.url }}">
                                                {{ subsubmodule.title }}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="mx-5">

        </div>

    </div>
</div>
